//variables and mixins
$mainColor: #1a3543;
$secondaryColor: #3c1706;
$shadowColor: rgba(122, 154, 170, 0.123);
$decorationColor:rgba(240, 119, 63, 0.361);
$accentColor:#d77649;
$white: rgba(229, 251, 252, 1);
$black:#21282f;

@mixin flex ($flex-direction, $justify-content, $align-items, $text-align) {
    display:flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-content: $align-items;
    text-align: $text-align;
}
@mixin color ($background-color, $color){
    background-color: $background-color;
    color:$color;
}
//some basic settings for app
body,
.wrapper {
    margin: 0 auto;
}
body {
    max-width:1600px;
}
p {
    margin-top:0;
}
img {
    width:100%;
    max-width:100;
    display: block;
    border-radius: 10px;
}
.wrapper {
    width:85%;
}
.musicSign {
    position: absolute;
    color:$decorationColor;
}
input,
input::placeholder,
button {
    color:$white;
}
input, 
button {
    width:40%;
    border:none;
}
input {
    border-bottom:0.2px solid $white;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    background: transparent;
}
button {
    padding:5px 10px;
    border-radius: 10px;
    background: rgb(211,105,55);
    background: linear-gradient(53deg, rgba(211,105,55,1) 19%, rgba(231,128,112,0.856816054058342) 73%); 
}
//sweet alert settings
h2.swal2-title,
.swal2-content>div:first-child {
    color:$white;
}
button.swal2-confirm.swal2-styled {
    font-weight: bold;
    color: $black;
}
