p {
    margin-top:0;
}
img {
    width:100%;
    max-width:100;
    display: block;
    border-radius: 10px;


}
.wrapper {
    width:85%;
    margin: 0 auto;

}
header {
    height: 100vh;
    padding-top:1.5rem;
    background-image:url(/assets/headerBackground.jpg);
    background-size: cover;
    background-position: center center; 
    h1 {
    margin-top: 0;
    margin-bottom: 13.8rem;
    color:$black;

	-webkit-animation: text-focus-in 1.2s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	animation: text-focus-in 1.2s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;

    }

    form {
    @include flex(column, center, center, center )
    }
    input, 
    .submitSearch {
        width:40%;
        border:none;
        color:$white;
    }
    input {
        border-bottom:0.2px solid $white;
        margin-bottom: 1rem;
        padding-bottom: 10px;
        background: transparent;

    }
    input, 
    input::placeholder {
        color:$white;
    }
}


.submitSearch {
    padding:5px 10px;
    border-radius: 10px;
    background: rgb(211,105,55);
    background: linear-gradient(53deg, rgba(211,105,55,1) 19%, rgba(231,128,112,0.856816054058342) 73%); 
}

main {
    min-height: 100vh;
}
.trackResultWrapper,
.lyricsResultWrapper {
    padding-top:3rem;
    h3 {
        margin-top: 0;
    }
}
.trackResultWrapper {
    @include color($mainColor, $white);
}


.loadingTracks,
.loadingLyrics {
    @include flex(row, center, center, center);
    flex-wrap:wrap;
    min-height: 50vh;
    padding-top: 2rem;

}
.loadingTracks,
.loadingLyrics {
    span {
        color:$accentColor;
    }
}
.tracksWrapper h3 {
    color:$accentColor;
}
.tracks{
    @include flex(row, space-between, center, center);
    flex-wrap:wrap;
    .singleTrack {
        @include flex(column, flex-start, center, center);
        width:17%;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
}

.imgWrapper {
    width:90%;
    margin-bottom: 1.5rem;
	-webkit-animation: fade-in-fwd 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-fwd 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.trackInfo {
    &:hover {
	-webkit-animation: text-pop-up-top 0.5s ease-in-out both;
	animation: text-pop-up-top 0.5s ease-in-out both;
    }
    span{
        display: inline-block;
        margin-bottom: 0.6rem;
    }
    
}

.lyricsResultWrapper  {
    @include color($secondaryColor, $white);
    
}
.lyricsWrapper {
    padding-bottom: 4.5rem;
    h3 {
        color: $accentColor;
    }
    p {
        margin:0;
    }
}
