html {
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Alegreya|BioRhyme:700&display=swap');



@mixin headingFont($size){
    font-size: ($size / 20) * 1rem;
    font-size: $size * 1px;
    font-family: "BioRhyme", serif;
    font-weight: 700;

}

@mixin bodyFont($size){
    font-size: ($size / 20) * 1rem;
    font-size: $size * 1px;
    font-family: "Alegreya", serif;
}

h1 {
    @include headingFont(70);
    text-align: right;
}
input, .submitSearch {
    @include bodyFont(25);
    text-align: center;

}
main {
    @include bodyFont(22);
}
h3 {
    @include bodyFont(36);
}

footer {
    @include bodyFont(18);
    text-align: center;
}