@import url('https://fonts.googleapis.com/css?family=Courgette|Varela+Round&display=swap');
html {
    font-size: 20px;
}
@mixin headingFont($size){
    font-size: ($size / 20) * 1rem;
    font-size: $size * 1px;
    font-family: 'Courgette', cursive;
}
@mixin bodyFont($size){
    font-size: ($size / 20) * 1rem;
    font-size: $size * 1px;
    font-family: 'Varela Round', sans-serif;
}
.musicSign {
    @include headingFont(60);
}
h1 {
    @include headingFont(78);
    text-align: right;
}
input,
.submitSearch {
    text-align: center;
}
input {
    @include bodyFont(25);

}
button {
    @include headingFont(28);
}

h3 {
    @include bodyFont(36);
}
.tracksWrapper h3,
.lyricsWrapper h3{
    @include headingFont(40);
    text-align: center;
    letter-spacing: 3px;
}
.trackInfo span {
    @include headingFont(22);
}
.tracksWrapper p {
    line-height: 1.2;
}
.lyricsWrapper {
    line-height: 1.4;

}
.lyricsWrapper,
footer {
    @include bodyFont(18);
    text-align: center;
}